# computable-legacy-primitive Validation Report

* **Generated At:** 11/7/2026, 12:56:22 PM
* **Total Files Checked:** 3

| File Name | Status | Error Summary |
| :--- | :---: | :--- |
| `terminal_display.json` | ✅ Passed | None |
| `terminal_display2.json` | ❌ Failed | • `root`: must have required property 'version'<br/>• `root`: must NOT have additional properties<br/>• Primitive named terminal_display is not unique<br/> |
| `terminal_input.json` | ✅ Passed | None |
