# computable-legacy-primitive Validation Report

* **Generated At:** 11/5/2026, 9:04:28 AM
* **Total Files Checked:** 2

| File Name | Status | Error Summary |
| :--- | :---: | :--- |
| `terminal_display.json` | ❌ Failed | `root`: must have required property 'version'<br/>`/type`: must be equal to one of the allowed values<br/>`/invariants`: must be array |
| `terminal_input.json` | ❌ Failed | `root`: must have required property 'version'<br/>`root`: must NOT have additional properties<br/>`/type`: must be equal to one of the allowed values<br/>`/participants/0`: must have required property 'aliasStructuralType'<br/>`/participants/0`: must match "then" schema<br/>`/participants/0`: must NOT have additional properties<br/>`/participants/1`: must NOT have additional properties<br/>`/participants/2`: must NOT have additional properties<br/>`/invariants`: must be array |
