# computable-primitive Validation Report

* **Generated At:** 11/5/2026, 6:43:23 AM
* **Total Files Checked:** undefined

| File Name | Status | Error Summary |
| :--- | :---: | :--- |
| `clear_list.json` | ❌ Failed | `root`: must have required property 'version'<br/>`/type`: must be equal to one of the allowed values<br/>`/invariants`: must be array |
| `equals.json` | ✅ Passed | None |
| `insert_at_end_of_list.json` | ❌ Failed | `root`: must have required property 'version'<br/>`/type`: must be equal to one of the allowed values<br/>`/invariants`: must be array |
