# computable-legacy-primitive Validation Report

* **Generated At:** 11/6/2026, 10:27:57 AM
* **Total Files Checked:** 3

| File Name | Status | Error Summary |
| :--- | :---: | :--- |
| `terminal_display.json` | ✅ Passed | None |
| `terminal_display2.json` | ❌ Failed | • `root`: must have required property 'version'<br/>• `root`: must have required property 'syntax'<br/>• Primitive named terminal_display is not unique<br/> |
| `terminal_input.json` | ✅ Passed | None |
