# functional-primitive Validation Report

* **Generated At:** 11/5/2026, 5:41:12 AM
* **Total Files Checked:** 1

| File Name | Status | Error Summary |
| :--- | :---: | :--- |
| `if.json` | ❌ Failed | `/participants/0`: must have required property 'attributeStructuralType' |
