# meta-primitive Validation Report

* **Generated At:** 11/8/2026, 3:52:23 PM
* **Total Files Checked:** 6

| File Name | Status | Error Summary |
| :--- | :---: | :--- |
| `import.json` | ✅ Passed | None |
| `introduce.json` | ✅ Passed | None |
| `list_contains.json` | ✅ Passed | None |
| `role.json` | ✅ Passed | None |
| `structural_type.json` | ✅ Passed | None |
| `yield.json` | ✅ Passed | None |
