# meta-primitive Validation Report

* **Generated At:** 11/9/2026, 2:59:29 PM
* **Total Files Checked:** 5

| File Name | Status | Error Summary |
| :--- | :---: | :--- |
| `introduce.json` | ✅ Passed | None |
| `list_contains.json` | ✅ Passed | None |
| `role.json` | ✅ Passed | None |
| `structural_type.json` | ✅ Passed | None |
| `yield.json` | ✅ Passed | None |
