# meta-primitive Validation Report

* **Generated At:** 11/13/2026, 5:50:56 AM
* **Total Files Checked:** 5

| File Name | Status | Error Summary |
| :--- | :---: | :--- |
| `initial_value.json` | ✅ Passed | None |
| `introduce.json` | ✅ Passed | None |
| `list_contains.json` | ✅ Passed | None |
| `structural_type.json` | ✅ Passed | None |
| `yield.json` | ✅ Passed | None |
