# meta-primitive Validation Report

* **Generated At:** 11/5/2026, 5:41:12 AM
* **Total Files Checked:** 6

| File Name | Status | Error Summary |
| :--- | :---: | :--- |
| `import.json` | ❌ Failed | `root`: must have required property 'version' |
| `introduce.json` | ✅ Passed | None |
| `list_contains.json` | ✅ Passed | None |
| `role.json` | ✅ Passed | None |
| `structural_type.json` | ✅ Passed | None |
| `yield.json` | ✅ Passed | None |
