# meta-primitive Validation Report

* **Generated At:** 11/12/2026, 6:21:56 PM
* **Total Files Checked:** 5

| File Name | Status | Error Summary |
| :--- | :---: | :--- |
| `initial_value.json` | ✅ Passed | None |
| `introduce.json` | ✅ Passed | None |
| `list_contains.json` | ✅ Passed | None |
| `structural_type.json` | ✅ Passed | None |
| `yield.json` | ✅ Passed | None |
