# meta-primitive Validation Report

* **Generated At:** 11/10/2026, 6:45:13 PM
* **Total Files Checked:** 4

| File Name | Status | Error Summary |
| :--- | :---: | :--- |
| `introduce.json` | ✅ Passed | None |
| `list_contains.json` | ✅ Passed | None |
| `structural_type.json` | ✅ Passed | None |
| `yield.json` | ✅ Passed | None |
