# meta-primitive Validation Report

* **Generated At:** 11/11/2026, 11:35:02 AM
* **Total Files Checked:** 4

| File Name | Status | Error Summary |
| :--- | :---: | :--- |
| `introduce.json` | ✅ Passed | None |
| `list_contains.json` | ✅ Passed | None |
| `structural_type.json` | ✅ Passed | None |
| `yield.json` | ✅ Passed | None |
